In [1]:
from president_speech.db.parquet_interpreter import read_parquet, get_parquet_full_path

In [2]:
data_path = get_parquet_full_path()

In [3]:
import pandas as pd

In [4]:
df = pd.read_parquet(data_path)

In [5]:
f_df = df[df['speech_text'].str.contains('올림픽', case=False)]

In [10]:
rdf = f_df.groupby('president').size().reset_index(name='count')

In [12]:
sorted_rdf = rdf.sort_values(by='count', ascending=False)

In [14]:
sorted_rdf

  president  count
3       노태우    292
8       전두환    165
4       문재인    161
7       이명박    107
0       김대중     40
1       김영삼     32
2       노무현     32
6       박정희     29
5       박근혜     14
9       최규하      2